@import '../assets/sass/variables.sass'


body
    background: #ECECEC

/* HEADER */
.navbar
    height: 42px
    font-size: 14px
    font-height: 700
    font-family: $font4
    background-color: $azulino
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.1)
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.1)
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.1)

    @media screen and (max-width: $sm)
        height: 60px
        padding: 0

    .navbar-toggler
        padding: 14px 8px 14px 10px
        border-color: transparent
        &:hover,
        &:active
            outline: 0

    > .row
        margin: 0 0
        height: 45px

    .logo
        font-size: 16px
        font-weight: 700
        line-height: 36px
        color: $naranja !important

        @media screen and (max-width: $sm)
            top: 0
            left: 50%
            font-size: 20px
            position: absolute
            margin-left: -22px

        span.text
            @media screen and (max-width: $sm)
                display: none

        img
            height: 32px
            margin-top: 2px
            margin-right: 5px

            @media screen and (max-width: $sm)
                height: 44px

    /* COUNTRY RESPONSIVE */
    .dropdown-country
        display: none
        padding-right: 5px
        background-color: transparent
        @media screen and (max-width: $sm)
            display: block
        a.dropdown-toggle
            border: 0
            color: $naranja
            padding: 0 7px
            font-size: 14px !important
            background-color: transparent !important
            border: 0 !important
            &:after
                display: none
            img
                width: 22px
                height: 22px
        .dropdown-menu
            top: 42px
            border: 0
            padding: 0
            min-width: auto
            margin: 0 0 0 -2px !important
            background-color: $naranja
            transform: translate3d(-15px, 0, 0px)
            &:after
                bottom: 100%
                left: 70%
                border: solid transparent
                content: " "
                height: 0
                width: 0
                position: absolute
                pointer-events: none
                border-color: rgba(136, 183, 213, 0)
                border-bottom-color: $naranja
                border-width: 5px
                margin-left: -5px
            a.dropdown-item
                padding: 2px 5px
                color: #ffffff
                font-size: 12px
                &:hover
                    background-color: transparent
                img
                    width: 26px
                    height: 26px
                    padding-left: 5px

    /* COUNTRY DESKTOP */
    .country
        display: block
        @media screen and (max-width: $sm)
            display: none
        .dropdown
            margin-left: 10px
            letter-spacing: .75px
            .dropdown-toggle
                font-weight: 700
                color: #ffffff
                font-size: 14px
            .dropdown-menu
                padding: 0
                min-width: initial
                border-radius: 0
                background: $naranja
                font-weight: 700
                font-size: 14px
                &:before, &:after
                    bottom: 100%
                    left: 15%
                    border: solid transparent
                    content: " "
                    height: 0
                    width: 0
                    position: absolute
                    pointer-events: none
                &:after
                    border-color: rgba(136, 183, 213, 0)
                    border-bottom-color: $naranja
                    border-width: 6px
                    margin-left: -6px
                &:before
                    border-color: rgba(194, 225, 245, 0)
                    border-bottom-color: $naranja
                    border-width: 7px
                    margin-left: -7px
                a.dropdown-item
                    border: 0
                    color: #fff
                    font-weight: 700
                    font-size: 14px
                    background: transparent


    .menu-principal
        color: #fff
        line-height: 40px
        li
            .separador
                padding: 0 5px
                @media screen and (max-width: $sm)
                    display: none
            a
                color: #fff
                padding: 0 15px
                font-size: 13px
                font-weight: 700
                letter-spacing: .75px
                display: inline-block
                text-decoration: none
                &:hover
                    color: #f07d00

            .router-link-exact-active,
            .router-link-active
                color: #f07d00

            .login-registro
                padding: 0
                color: #f07d00

                @media screen and (max-width: $sm)
                    display: none

                &:hover
                    color: #fff

            .redes
                @media screen and (max-width: $sm)
                    display: none

            .cart
                padding: 0 20px

                &:before,
                &:after
                    left: -10px
                    position: relative
                    width: 1px
                    height: 20px
                    content: ' '
                    padding: 0 0 0 1px
                    background: #ffffff

                &:after

                    left: initial
                    right: -10px

                img
                    margin-top: -3px

                @media screen and (max-width: $sm)
                    display: none

            .redes
                padding: 0 5px

    .navbar-collapse
        @media screen and (max-width: $sm)
            background-color: $naranja

/* FOOTER */
footer
    padding: 40px 0
    font-size: 11px
    margin-top: 80px
    font-family: "Lato", sans-serif
    background: #f07d00
    background: linear-gradient(to bottom, #f07d00 1%,#b6650c 100%)
    background: -moz-linear-gradient(top, #f07d00 1%, #b6650c 100%)
    background: -webkit-linear-gradient(top, #f07d00 1%,#b6650c 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f07d00', endColorstr='#b6650c',GradientType=0 )

    p
        color: #fff
        letter-spacing: 1px
        margin-bottom: 0

    .foot_middle,
    .foot_right
        max-height: 200px
        border-left: 1px solid #fff

        p:last-child,
        p:last-child
            padding-bottom: 0 !important

    .foot_middle

        p
            padding-left: 20px
            padding-bottom: 10px

    .foot_right

        p
            padding-left: 20px
            padding-bottom: 5px

/* GENERAL */

.mg_t_30
    margin-top: 30px
