$verde: #83b94c
$naranja: #ef6e05
$naranja-linea: #f07d00
$blanco: #fff
$azulino: #20232a
$azulino1: #1b6088
$plomo: #474b54
$plomo1: #b0b1b4
$bg-none: transparent
$bg-plomo: #ebebeb

$sm: 576px
$md: 768px
$lg: 992px

$font1: "Lato", sans-serif
$font2: "Patua One", cursive;
$font3: "Anton", sans-serif;
$font4: "Quicksand", sans-serif

@mixin transition($duration)
    -webkit-transition: $duration
    -moz-transition: $duration
    -ms-transition: $duration
    -o-transition: $duration
    transition: $duration
