<template lang="pug">
    footer.container-fluid
        .container
            .row
                .col-lg-6.text-center
                    p
                        img(src='~/static/img/7tual-logo.png', width='40')
                    br
                    p © Empresa Lima 22
                    p Jr. Buenaventura #20 Lima 22 Perú
                    p Copyright © lima22.pe
                    p Lima22 - Todos los derechos reservados.
                .col-lg-6.text-center
                    p.text-uppercase Términos y condiciones de uso
                    p.text-uppercase Trabaja para Grupo 7Tual
                    p.text-uppercase Libro de Reclamaciones
                    p.text-uppercase Oficinas Concesionarias
                    p.text-uppercase Principios Rectores
                    p.text-uppercase Políticas de Privacidad
</template>
<style lang="sass">
    @import '~assets/sass/7tual.sass'
</style>
