<template lang="pug">
    #filtros
        .container-fluid.filtro_principal
            .row
                .container
                    .row
                        .col-lg-6.text-center
                            nuxt-link(to='/ideas/')
                                span.iconIdea.icon
                                |  ideas
                        .col-lg-6.text-center.icon
                            nuxt-link(to='/eventos/')
                                span.iconEvento
                                |  eventos
        .container-fluid.filtro_secundario
            .row
                hr.w-100
            .row
                .container
                    .row
                        .col-lg-12
                            ul.nav.nav-pills.nav-fill
                                li.nav-item
                                    nuxt-link(to='/add')
                                        span.iconAdd.icon
                                        | Añadir
                                li.nav-item
                                    .dropdown.show
                                        a#dropdownLugar.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            span.iconLugar.icon
                                            | Lugar
                                        .dropdown-menu(aria-labelledby='dropdownLugar')
                                            a.dropdown-item(href='#') Ciudad 1
                                            a.dropdown-item(href='#') Ciudad 2
                                            a.dropdown-item(href='#') Ciudad 3
                                li.nav-item
                                    .dropdown.show
                                        a#dropdownCategoria.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            span.iconCategoria.icon
                                            | Categoría
                                        .dropdown-menu(aria-labelledby='dropdownCategoria')
                                            a.dropdown-item(href='#') Categoria 1
                                            a.dropdown-item(href='#') Categoria 2
                                            a.dropdown-item(href='#') Categoria 3
                                li.nav-item
                                    .dropdown.show
                                        a#dropdownLugar.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            span.iconEstado.icon
                                            | Estado
                                        .dropdown-menu(aria-labelledby='dropdownLugar')
                                            a.dropdown-item(href='#') Estado 1
                                            a.dropdown-item(href='#') Estado 2
                                li.nav-item
                                    .dropdown.show
                                        a#dropdownLugar.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            span.iconOrden.icon
                                            | Orden
                                        .dropdown-menu(aria-labelledby='dropdownLugar')
                                            a.dropdown-item(href='#') Orden 1
                                            a.dropdown-item(href='#') Orden 2
                                li.nav-item
                                    a(data-toggle="collapse", href="#search", role="button", aria-expanded="false", aria-controls="search")
                                        span.iconSearch.icon
                                        | Buscar

</template>
<style lang="sass">

    @import '../assets/sass/variables.sass'
    @import '../assets/sass/iconos.sass'

    #filtros
        padding: 10px 15px
        background: #fff
        border-bottom: 1px solid #f1f1f1
        -webkit-box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.06)
        -moz-box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.06)
        box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.06)

        .filtro_principal
            a
                font-size: 18px
                color: $plomo1
                letter-spacing: .75px
                font-weight: 700
                padding: 18px 20px
                font-family: $font1
                line-height: 25px
                text-decoration: none
                text-transform: uppercase
                border-bottom: 2px solid $plomo1
                @include transition(.5s)

                &:hover
                    color: $naranja
                    border-bottom: 2px solid $naranja

                    .iconEvento
                        width: 40px
                        height: 40px
                        margin-bottom: -10px
                        display: inline-block
                        background-image: $iconEventoH


                    .iconIdea
                        width: 40px
                        height: 40px
                        margin-bottom: -10px
                        display: inline-block
                        background-image: $iconIdeaH


                .iconEvento
                    width: 40px
                    height: 40px
                    margin-bottom: -10px
                    display: inline-block
                    background-image: $iconEvento

                .iconIdea
                    width: 40px
                    height: 40px
                    margin-bottom: -10px
                    background-image: $iconIdea

        .filtro_secundario
            li
                a
                    color: $plomo1
                    font-size: 14px
                    font-weight: 700
                    font-family: $font4
                    letter-spacing: .75px
                    text-decoration: none

                    &:hover
                        color: $naranja

                        .iconAdd
                            background-image: $iconAddH

                        .iconLugar
                            background-image: $iconLugarH

                        .iconCategoria
                            background-image: $iconCategoriaH

                        .iconEstado
                            background-image: $iconEstadoH

                        .iconOrden
                            background-image: $iconOrdenH

                        .iconSearch
                            background-image: $iconSearchH

                    .icon
                        width: 18px
                        height: 18px
                        margin-right: 5px
                        margin-bottom: -3px
                        background-origin: content-box
                        background-position: center
                        background-size: 18px
                        background-repeat: no-repeat

                    .iconAdd
                        background-image: $iconAdd

                    .iconLugar
                        background-image: $iconLugar

                    .iconCategoria
                        background-image: $iconCategoria

                    .iconEstado
                        background-image: $iconEstado

                    .iconOrden
                        background-image: $iconOrden

                    .iconSearch
                        background-image: $iconSearch

</style>
