<template lang="pug">
    nav.header.navbar.navbar-expand-md.navbar-dark.fixed-top

        button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse', aria-controls='navbars', aria-expanded='false', aria-label='Toggle navigation')
            img(src='~/static/svg/menu.svg', width='24', height='30')

        router-link.navbar-brand.logo(to='/')
            img.float-left(src='~/static/img/7tual-logo.png')
            span.text 7Tual.com

        .dropdown-country.ml-auto

            .dropdown.float-left
                router-link.dropdown-toggle(to='/login')
                    img(src='~/static/svg/user.svg')

            .dropdown.float-left
                router-link.dropdown-toggle(to='/cart')
                    img(src='~/static/svg/cart.svg')

            .dropdown.float-left
                a#dropdown2.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    img(src='~/assets/country/peru.svg')
                .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdown2')
                    router-link.dropdown-item(to='/')
                        | ES
                        img(src='~/assets/country/spain.svg')
                    router-link.dropdown-item(to='/')
                        | US
                        img(src='~/assets/country/usa.svg')
                    router-link.dropdown-item(to='/')
                        | BR
                        img(src='~/assets/country/brazil.svg')

        .collapse.navbar-collapse

            ul.navbar-nav.mr.auto.country
                li.nav-item.dropdown
                    a#dropdown01.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Perú
                    .dropdown-menu(aria-labelledby='dropdown01')
                        router-link.dropdown-item(to='/') España

            ul.navbar-nav.ml-auto.menu-principal
                li.nav-item
                    router-link(to='/publico') Público
                li.nav-item
                    router-link(to='/empresa') Empresas
                li.nav-item
                    router-link(to='/equipo') Equipo
                li.nav-item
                    router-link(to='/blog') Blog
                li.nav-item
                    router-link.login-registro(to='/registro') Registro
                    span.separador /
                    router-link.login-registro(to='/login') Login
                li.nav-item
                    router-link.cart(to='/cart')
                        img(src='~/static/svg/cart.svg', width='18')
                    router-link.redes(to='/contacto')
                        img(src='~/static/svg/fb.svg')
                    router-link.redes(to='/contacto')
                        img(src='~/static/svg/tw.svg', width='20')
                    router-link.redes(to='/contacto')
                        img(src='~/static/svg/yt.svg')
</template>
<style lang="sass">
    @import '~assets/sass/7tual.sass'
</style>
