<template lang="pug">
    .col-lg-8
        h5.text-center Gracias a
</template>
<style lang="sass">

    @import '../assets/sass/variables.sass'
    @import '../assets/sass/iconos.sass'

    h5
        color: $plomo
        font-family: $font4

</style>

