<template lang="pug">
    #myCarousel.carousel.slide.carousel-fade(data-ride='carousel')
        ol.carousel-indicators
            li(data-target='#myCarousel', v-for='(item, index) in sliders', :key='index', :data-slide-to='index', :class="{'active' : (index==0) }") 0{{ index + 1 }}
        .carousel-inner
            .carousel-item(v-for='(item, index) in sliders', :key='index', :id='index', :class="{'active' : (index==0) }", :style="'background-image: url('+ item.picture +')'")
                .container
                    .carousel-caption.text-left
                        h1 Example headline {{ item.idEvento }}
                        h4
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Egestas eget quam
                        p
                            a.text-uppercase.btn.btn-lg.btn-primary(href='#', role='button') Ver evento {{ item.idEvento }}
            a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
            a.carousel-control-next(href='#myCarousel', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')

</template>
<script>

    import axios from 'axios'

    export default {
        data: () => ({
            sliders: [],
            errors: []
        }),
        created() {
            axios.get('https://api.myjson.com/bins/jgtdt')
            .then(response => {
                this.sliders = response.data.results
            })
            .catch(e => {
                this.errors.push(e)
            })
        }
    }

</script>

<style lang="sass">

    @import '../assets/sass/variables.sass'
    @import url('https://fonts.googleapis.com/css?family=Patua+One|Anton')

    #myCarousel
        width: 100%
        background-color: $naranja
        background-size: 100px
        background-position: center
        background-repeat: no-repeat
        background-image: url(../static/img/7tual-logo.png)

        .carousel-control-prev
            @media screen and (max-width: $sm)
                left: 20px;

        .carousel-control-next
            @media screen and (max-width: $sm)
                right: 20px;

        .carousel-indicators
            bottom: 0
            margin-left: 5%
            margin-right: 5%
            letter-spacing: .75px
            -webkit-box-pack: right
            -ms-flex-pack: right
            justify-content: right

            @media screen and (max-width: $sm)
                -webkit-box-pack: center
                -ms-flex-pack: center
                justify-content: center

            li
                width: auto
                height: 20px
                text-indent: 0
                cursor: pointer
                font-size: 20px
                line-height: 10px
                font-family: $font3
                @include transition(.2s)
                color: rgba(255,255,255,.5)
                background-color: transparent
                border-bottom: 2px solid rgba(255,255,255,.5)

                @media screen and (max-width: $sm)
                    font-size: 14px
                    line-height: 20px

            .active
                padding-right: 40px
                color: rgba(255,255,255,1)
                border-bottom: 2px solid #fff

                @media screen and (max-width: $sm)
                    padding-right: 10px
                    padding-left: 10px

                &:before
                    bottom: 0

        .carousel-item
            height: 100vh
            max-height: 450px
            font-family: $font2
            letter-spacing: .75px
            width: 100% !important
            background-size: cover
            -o-background-size: cover
            -moz-background-size: cover
            -webkit-background-size: cover
            background-position: center
            background-repeat: no-repeat
            transition-property: opacity


            @media screen and (max-width: $sm)
                max-height: 300px

            .container
                -webkit-box-align: center
                -ms-flex-align: center
                align-items: center
                display: flex
                height: 100%

                .carousel-caption
                    position: initial
                    width: 50%

                    @media screen and (max-width: $sm)
                        padding: 20px
                        right: 0
                        left: 0
                        width: 100%
                        bottom: 0

                    h1
                        @media screen and(max-width: $sm)
                            text-align: center
                            font-size: 18px


                    h4
                        font-size: 20px
                        margin-bottom: 20px
                        @media screen and(max-width: $sm)
                            text-align: center
                            font-size: 14px
                            margin-bottom: 10px

                    p
                        @media screen and(max-width: $sm)
                            text-align: center

                    a.btn
                        font-size: 16px
                        color: $naranja
                        @include transition(.2s)
                        border: 3px solid $naranja
                        background-color: #fff

                        &:hover, &:focus
                            background-color: #fff
                            border-color: rgba(255,255,255,.5)

        .carousel-control-prev-icon,
        .carousel-control-next-icon
            width: 60px
            height: 30px
            background-size: 40px
            background-position: center
            position: relative
            @include transition(.2s)

            @media screen and (max-width: $sm)
                width: 40px
                height: 25px
                background-size: 20px

        .carousel-control-next-icon
            border-right: 2px solid #fff
            background-image: url(../static/svg/right-arrow.svg)

            @media screen and (max-width: $sm)
                border-width: 1px

            &:hover
                margin-right: -30px

            &:before,
            &:after
                right: 0
                width: 30px
                height: 2px
                background: #fff
                content: ''
                display: block
                position: absolute

                @media screen and (max-width: $sm)
                    height: 1px
                    width: 20px

            &:before
                top: 0

            &:after
                top: 28px

                @media screen and (max-width: $sm)
                    top: 24px

        .carousel-control-prev-icon
            border-left: 2px solid #fff
            background-image: url(../static/svg/left-arrow.svg)

            @media screen and (max-width: $sm)
                border-width: 1px

            &:hover
                margin-left: -30px

            &:before,
            &:after
                left: 0
                width: 30px
                height: 2px
                background: #fff
                content: ''
                display: block
                position: absolute

                @media screen and (max-width: $sm)
                    height: 1px
                    width: 20px

            &:before
                top: 0

            &:after
                top: 28px

                @media screen and (max-width: $sm)
                    top: 24px

        .carousel-fade
            .carousel-inner
                .carousel-item
                    @include transition(2s)
                    transition-property: opacity

                .carousel-item,
                .active.carousel-item-left,
                .active.carousel-item-right
                    opacity: 0

                .active,
                .carousel-item-next.carousel-item-left,
                .carousel-item-prev.carousel-item-right
                    opacity: 1

                .carousel-item-next,
                .carousel-item-prev,
                .active.carousel-item-left,
                .active.carousel-item-right
                    left: 0
                    transform: translate3d(0, 0, 0)


</style>
