<template lang="pug">
    #search.collapse
        .container
            .row
                .form.col-lg-12
                    input.form-control(type='text', placeholder='Buscador...')
                    button.btn(type='button', data-toggle="collapse", data-target="#search", aria-expanded="false", aria-controls="search")
                        span.close
                        | Cancelar
</template>
<style lang="sass">

    @import '../assets/sass/variables.sass'
    @import '../assets/sass/iconos.sass'

    #search
        .form
            padding: 30px 0 15px

            .form-control
                border: 0
                padding: 15px 15px 15px 40px
                font-weight: 700
                letter-spacing: .75px
                font-family: $font4
                background-position: 10px center
                background-size: 18px
                background-repeat: no-repeat
                background-image: $iconSearchInput
                -webkit-box-shadow: 0px 10px 10px 3px rgba(204,204,204,1)
                -moz-box-shadow: 0px 10px 10px 3px rgba(204,204,204,1)
                box-shadow: 0px 10px 10px 3px rgba(204,204,204,1)

            .btn
                top: 50%
                right: 10px
                color: $plomo1
                font-size: 14px
                font-weight: 500
                margin-top: -10px
                line-height: 16px
                font-family: $font4
                background: transparent
                position: absolute
                box-shadow: none

                .close
                    margin: 0 5px
                    width: 18px
                    height: 18px
                    background-origin: content-box
                    background-position: center
                    background-size: 18px
                    background-repeat: no-repeat
                    background-image: $iconCancel

                &:hover
                    color: $naranja

                    .close
                        background-image: $iconCancelH

</style>

