<template lang="pug">
    #carousel.container-fluid
        .row
            .container
                .carousel
                    transition(name='module', mode='out-in')
                        .swiper(v-swiper:swiper='swiperOption')
                            .swiper-wrapper
                                .swiper-slide.item(v-for='(slider, index) in sliders', :key='index')
                                    .content
                                        img.img-fluid.rounded(:src='slider.picture', alt='')
                                        .tenor(v-if='slider.nat == 1')
                                            h5 {{ slider.cat }} - {{ slider.ubigeo }}
                                            h6 Lorem ipsum, dolor sit amet.
                                        nuxt-link(to='/evento/')
                            .swiper-button-prev.swiper-button-white(slot='button-prev')
                            .swiper-button-next.swiper-button-white(slot='button-next')
</template>

<script>

    import axios from 'axios'

    export default {
        data() {
            return {
                swiperOption: {
                    slidesPerView: 6,
                    spaceBetween: 15,
                    slidesPerGroup: 6,
                    loop: true,
                    autoplay: {
                        delay: 6000,
                        disableOnInteraction: false
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    },
                    setWrapperSize: true,
                    autoHeight: true,
                    mousewheel: true,
                    observeParents: true,
                    grabCursor: true,
                    preloadImages: false,
                    lazy: true
                },
                sliders: [],
                errors: []
            }
        },
        created() {
            axios.get('https://api.myjson.com/bins/n54kt')
            .then(response => {
                this.sliders = response.data.results
                // console.log(response.data.results)
            })
            .catch(e => {
                this.errors.push(e)
            })
        }
    }

</script>
<style lang="sass">

    @import '../assets/sass/variables.sass'

    #carousel
        padding: 20px 0
        background: #ffffff
        background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%)
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%)
        background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 )


        .row
            margin: 0

        .swiper-slide
            .content

                .tenor
                    left: 0
                    right: 0
                    top: 0
                    position: absolute

                    h5
                        color: #fff
                        padding: 10px 15px 0
                        font-size: 16px
                        text-align: left
                        font-weight: 700
                        font-family: $font1

                    h6
                        color: #fff
                        font-size: 16px
                        padding: 0 15px
                        font-family: $font2

                a
                    top: 0
                    left: 0
                    right: 0
                    bottom: 0
                    @include transition(.2s)
                    position: absolute
                    border: 7px solid rgba(255,255,255,.25)

                    &:hover
                        border: 10px solid rgba(255,255,255,.25)

</style>

