<template lang="pug">
    .container-fluid.tenor_home
        .row
            .container
                .row
                    .col-lg-2
                        img(v-for='persona in personas0', :src='persona.picture.thumbnail', :alt='persona.name.first')
                    .col-lg-8
                        h5.text-center
                            | En
                            span  7tual
                            |  unimos al público de tu ciudad con las empresas para traer los mejores eventos muy cerca de ti. ¿Ya sabes cómo funciona?, entérate
                            span  aqui
                            | , y  ¡únete!
                    .col-lg-2
                        img(v-for='pers in personas1', :src='pers.picture.thumbnail', :alt='pers.name.first')
</template>
<script>

    import axios from 'axios'

    export default {
        data: () => ({
            personas0: [],
            personas1: [],
            errors: []
        }),
        created() {
            axios.get('https://randomuser.me/api/?results=3')
            .then(response => {
                this.personas0 = response.data.results
            })
            .catch(e => {
                this.errors.push(e)
            })
            axios.get('https://randomuser.me/api/?results=3')
            .then(response => {
                this.personas1 = response.data.results
            })
            .catch(e => {
                this.errors.push(e)
            })
        }
    }
</script>

<style lang="sass">

    @import '../assets/sass/variables.sass'

    .tenor_home
        background: $bg-plomo
        @media screen and (max-width: $sm)
            display: none

        img
            width: 38px
            margin: 15px 5px

        h5
            font-family: $font1
            margin: 10px 0
            font-size: 16px
            font-weight: 400
            line-height: 24px
            letter-spacing: 0

            span
                color: $naranja

</style>
