<template>
    <div>
        <app-header/>
        <nuxt/>
        <app-footer/>
    </div>
</template>

<script>
    import AppHeader from '~/components/AppHeader.vue'
    import AppFooter from '~/components/AppFooter.vue'

    export default {
        components: {
            AppHeader,
            AppFooter
        }
    }
</script>

<style lang="sass">
    html
        word-spacing: 1px
        background: #f3f3f3
        -ms-text-size-adjust: 100%
        -webkit-text-size-adjust: 100%
        -moz-osx-font-smoothing: grayscale
        -webkit-font-smoothing: antialiased

    *, *:before, *:after
        outline: none;
        box-sizing: border-box
        margin: 0

</style>
