<template>
    <section>
        <app-tenor/>
        <div class="container-fluid">
            <div class="row">
                <app-slider/>
            </div>
        </div>
        <app-slider-evento/>
        <app-filtros/>
        <app-search/>
        <div class="container mg_t_30">
            <div class="row">
                <app-sidebar-left/>
                <app-listado/>
                <app-sidebar-right/>
            </div>
        </div>
    </section>
</template>
<script>

    import AppSlider from '~/components/AppSlider.vue'
    import AppTenor from '~/components/AppTenor.vue'
    import AppSliderEvento from '~/components/AppSliderEvento.vue'
    import AppFiltros from '~/components/AppFiltros.vue'
    import AppSearch from '~/components/AppSearch.vue'
    import AppSidebarLeft from '~/components/AppSidebarLeft.vue'
    import AppListado from '~/components/AppListado.vue'
    import AppSidebarRight from '~/components/AppSidebarRight.vue'

    export default {
        layout: 'main',
        components: {
            AppSlider,
            AppTenor,
            AppSliderEvento,
            AppFiltros,
            AppSearch,
            AppSidebarLeft,
            AppListado,
            AppSidebarRight
        }
    }
</script>
<style lang="sass">
    section
        margin-top: 42px
</style>
